<div class="home-section wrapContainer">
  <div class="customContainer">
    <div class="home">
      <header>
        <h1>Trust an IDC leader to overcome digital talent gaps.</h1>
        <p>
          Compared with 21 vendors, IDC recognized Udacity for creating
          <br />
          job-ready digital talent and delivering measurable business outcomes.
        </p>
        <a
          target="_blank"
          href="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3kHVnOLhFLvIinSzmhqgm2/a3578778d90e859fa9b3fed69b7dd25b/IDC_MarketScape_U.S._IT_Training_Vendor_Assessment.pdf"
          class="btnDownload"
          >Download report</a
        >
      </header>
      <picture></picture>
    </div>
  </div>
</div>
