.home-section {
  height: 6000px;
}
.btnDownload {
  background-color: #2015ff;
  font-weight: 700;
  box-shadow: none;
  font-size: 1.125rem;
  line-height: 60px;
  padding: 0 22px;
  color: #fff;
  height: 60px;
  font-size: 18px;
  padding-right: 40px;
  border: 0;
  display: inline-block;
  text-decoration: none;
  border-radius: 0.25rem;
}
.btnDownload::after {
  content: "→";
  position: relative;
  left: 23px;
}
p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 32px;
}
