<div class="cover">
    <div class="container-cover">
        <div class="icon-desc">
            <img class="icon" src="../../../../assets/images/School_of_Product_Management_Icon__1_.webp" />
            <div class="description">
                <span> THE SCHOOL OF </span>
                <h1>Product Management</h1>
                <p>There’s a good reason Product Management roles in the U.S.
                    have grown an astounding 32% over just a two year period.
                    A good product manager with the right skills can transform any
                    business. Udacity’s School of Product management can equip you
                    with these skills, helping you develop experience across the business,
                    design, and tech domains through hands-on, industry-relevant projects
                    and mentor feedback.
                </p>
            </div>
        </div>
        <div class="image">

        </div>
    </div>
</div>