<div class="logo-garden-section wrapContainer">
  <div class="customContainer">
    <div class="logo-garden">
      <h2 class="logo-garden_title__2E57y">The trusted market leader in talent transformation.</h2>
      <picture>
        <source media="(min-width: 992px)"
          srcset="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/1fj8yxmjQ1CX7s6S44W5Jn/ab747e77a6fc767e50391e4d695034c2/customer-logos-desktop3.png">
        <img
          alt="Accenture, Itida, Airbus, Leidos, Vodafone, STC, US Air Force, Misk Academy, Shell, Toyota, BNP Paribas"
          class="logo-garden_logos__33PVP"
          src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/47TPYX0wcqm1okPq5KsTD8/9a199f7634901bfa0b5bbdbb456983eb/customer-logos-mobile2.png">
      </picture>
    </div>
  </div>
</div>