.outcomes {
  margin-top: 100px;
  padding-bottom: 150px;
  h3 {
    font-size: 1.3125rem;
    line-height: 1.9375rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
    @media (max-width: 991px) {
      text-align: start;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    display: flex;
    width: 235px;
    @media (max-width: 1183px) {
      width: 50%;
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      width: 100%;
      font-size: 0.875rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 25px;
    }

    img {
      margin-right: 20px;
      @media (max-width: 768px) {
        width: 30px;
      }
    }
    p {
      margin: 0;
    }
  }
}
