<div class="outcomes">
  <h3>Job-ready talent. Superior outcomes.</h3>
  <ul>
    <li>
      <img
        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7i0vIvSYhBZpPXzaJCHaBn/50bfa1e2b52653aa76a8c413ae5e0f28/icon-curriculum.svg"
        alt="">
      <p>Curriculum co-created with industry leaders</p>
    </li>
    <li>
      <img
        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/zh6jYZi3xGa6a9yRZdMat/672eaa6d90f82bcf8b2bb36dab1cfc79/icon-feedback.svg"
        alt="">
      <p>Personalized feedback ensures mastery</p>
    </li>
    <li>
      <img
        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5eLSyxIAS3Fb9CXRkYGg4u/1c23e9f28d5eaa1edc57f1532ecb8331/icon-projects.svg"
        alt="">
      <p>Hands-on projects, not step-by-step guides</p>
    </li>
    <li>
      <img
        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4r0jrCI7BjgLYRb8vPFgJl/62a8348809aa327099c0e553f305034d/icon-expert-network.svg"
        alt="">
      <p>1,400+ highly vetted expert network</p>
    </li>
  </ul>
</div>