
    <a>
        <article>
            <div class="date-status">
                <time class="date">{{program.date}}</time>
                <small class="status">{{program.status}}</small>
            </div>
            <div>

               <h3> {{program.title}}</h3>
               <p> <span class="concepts">Concepts Covered: </span>{{program.conceptsCovered}}</p>
            </div>
            <div class="btn-enroll">
                <button>Learn more</button>
                <time class=Enroll>{{program.toEnroll}}</time>
            </div>
        </article>
    </a>

