



<div class="d-flex justify-content-around mt-5">
    <div>
        <button class="d-flex pt-2 justify-content-center" >
            <img src="assets/images/facebook.png" class="icon">
             <p class="mx-2 pt-2">Sign in with Facebook</p>
        </button>
    </div>
    <div>
        <button class="d-flex pt-2 justify-content-center">
            <img src="assets/images/Google.png" class="icon">
            <p class="mx-2 pt-2">Sign in with Google</p>
        </button>
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <div class="w-25"><hr/></div> 
      <p>Or</p>
      <div class="w-25"><hr/></div> 
 </div>