.icon{
    width: 30px;
    height: 30px;
}
button{
    width: 250px;
    border: none;
    box-shadow: 2px 2px 3px 3px rgb(117 124 129 / 12%);
    color: #6d7780;
    font-size: .875rem;
    letter-spacing: normal;
    text-transform: none;
    border-radius: 5px;
    background-color: white;
  
}
