.proven-result-section {
  background-color: #f9f9f9;
}

.proven-result {
  padding-bottom: 150px;
  @media (max-width: 1200px) {
    max-width: 640px;
    margin: auto;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      flex-direction: row;
    }
    li {
      background-color: #fff;
      padding: 43px;
      padding-bottom: 37px;
      border-radius: 4px;
      transition: box-shadow 0.3s ease;
      box-sizing: border-box;
      flex: 1 0;
      width: 33.33%;
      display: flex;
      flex-direction: column;
      @media (max-width: 1183px) {
        min-width: 100%;
        flex-direction: row;
        padding: 16px 32px;
      }
      @media (max-width: 480px) {
        flex-direction: column;
      }
      @media (max-width: 767px) {
        padding: 43px;
        padding-bottom: 37px;
      }
      &:not(:first-of-type) {
        margin-left: 28px;
        @media (max-width: 1183px) {
          margin-left: 0px;
          margin-top: 28px;
        }
      }
      &:nth-child(1) {
        border-top-right-radius: 100px;
      }
      &:nth-child(2) {
        border-bottom-right-radius: 100px;
      }
      &:nth-child(3) {
        border-top-left-radius: 100px;
      }
      &:hover {
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 20%);
      }
    }
  }
}

h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 60px;
  color: #0b0b0b;
  margin-bottom: 100px;

  @media (min-width: 480px) and (max-width: 1183px) {
    //[480-1183]
    flex: 0 0 180px;
    border-right: 1px solid #cbd5de;
    margin-bottom: 0;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  img {
    margin-right: 16px;
    height: 36px;
    @media (max-width: 1200px) {
      display: block;
      margin-bottom: 10px;
    }
    @media (max-width: 480px) {
      display: inline;
    }
  }
}
.cardBody {
  img {
    margin-bottom: 32px;
  }
  p {
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-family: "PolySans";
    font-weight: 600;
    color: #000;
    @media (max-width: 1200px) {
      font-size: 1.3125rem;
      line-height: 1.9375rem;
    }
  }
}
h2 {
  font-size: 3rem;
  line-height: 3.625rem;
  margin-bottom: 40px;
  @media (max-width: 991px) {
    font-size: 2.375rem;
    line-height: 3rem;
  }
  @media (max-width: 479px) {
    font-size: 2rem;
    line-height: 2.625rem;
  }
}
