<div class="hero-section wrapContainer">
  <div class="customContainer">
    <div class="hero">
      <header>
        <h1>Trust an IDC leader to overcome digital talent gaps.</h1>
        <p>
          Compared with 21 vendors, IDC recognized Udacity for creating
          <br />
          job-ready digital talent and delivering measurable business outcomes.
        </p>
        <a
          target="_blank"
          href="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3kHVnOLhFLvIinSzmhqgm2/a3578778d90e859fa9b3fed69b7dd25b/IDC_MarketScape_U.S._IT_Training_Vendor_Assessment.pdf"
          class="btnDownload"
          >Download report</a
        >
      </header>
      <picture class="idc-marketscape_graphic__3RP-3"
        ><source
          srcset="
            https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7CXB11ekkOOSon8pJA2Ni1/196aed3192b50d76c657f2245e8cc674/IDC_Artwork_Desktop_2x.png?fm=webp&amp;q=100
          "
          type="image/webp" />
        <img
          width="622"
          height="645"
          src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7CXB11ekkOOSon8pJA2Ni1/196aed3192b50d76c657f2245e8cc674/IDC_Artwork_Desktop_2x.png?fm=jpg"
          alt=""
          loading="eager"
      /></picture>
    </div>
  </div>
</div>
