<div id="pills-register">
    <form>
        <div class="text-center my-5">
            <h4 class="textH1">
                Create your account 
            </h4>
            <br>
            <p>
                <span>
                    Build skills for today, tomorrow, and beyond.
                    <br/>
                    Education to future-proof your career.
                </span>
            </p>
          </div>
          <app-sigh-with></app-sigh-with>
      <!--First Name input -->
      <div class="form-group mx-5 p-2 mt-4" >
        <input type="text" style="height: 50px;" id="registerFName" class="form-control"  placeholder="First Name"/>
      </div>

      <!-- Lastname input -->
      <div class="form-group mx-5 p-2 mt-2" >
        <input type="text" style="height: 50px;" id="registerLName" class="form-control"  placeholder="Last Name"/>
      </div>

      <!-- Email input -->
      <div class="form-group mx-5 p-2 mt-2" >
        <input type="email" style="height: 50px;" id="loginName" class="form-control"  placeholder="Email Address"/>
      </div>

        <!-- Password input -->
        <div class="form-group mt-2 p-2 mx-5 ">
            <input type="password" style="height: 50px;" id="loginpassword" class="form-control"  placeholder="Password"/>
        </div>

        <div class=" text-justify mt-2 p-auto">
            <span>
                By clicking Sign up, you agree to our
                <a href="https://www.udacity.com/legal/terms-of-service">Terms of Use</a>
                and our
                <a href="https://www.udacity.com/legal/privacy">Privacy Policy</a>
                .
            </span>
        </div>
        <div class="my-5">
            <button type="submit" class="btn btn-block mb-4 signup">Sign up</button>
        </div>
    </form>
</div>
