<div class="schools-wheel-section wrapContainer">
  <div class="customContainer">
    <div class="schools-wheel">
      <div class="content">
        <h3>Udacity’s Digital Competency Platform</h3>
        <p>Our competencies focus exclusively on in‑demand digital technologies and ensure workplace relevance.</p>
        <a href="">Learn more<span>→</span></a>
      </div>
      <div class="graphicContainer">
        <picture>
          <source
            srcset="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3aVhvW7z3PzRCWPrHyGGdH/54c3b256684a50ea81eac1b68c01c567/udacity-digital-competency-platform-0.png?fm=webp&amp;q=60"
            type="image/webp"><img
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3aVhvW7z3PzRCWPrHyGGdH/54c3b256684a50ea81eac1b68c01c567/udacity-digital-competency-platform-0.png?fm=png"
            alt="" loading="lazy">
        </picture>
        <svg #mySVG viewBox="0 0 730 591">
          <path d="M345 55 L425 90 L380 280 L280 85 Z" class="digital-competency-platform_highlight__3aEo2"></path>
          <path d="M430 90 L500 120 L535 200 L380 280 Z" class="digital-competency-platform_highlight__3aEo2"></path>
          <path d="M535 200 L575 270 L560 355 L385 280 Z" class="digital-competency-platform_highlight__3aEo2"></path>
          <path d="M555 355 L545 435 L475 475 L380 285 Z" class="digital-competency-platform_highlight__3aEo2"></path>
          <path d="M475 475 L405 525 L325 495 L380 290 Z" class="digital-competency-platform_highlight__3aEo2"></path>
          <path d="M320 495 L235 465 L190 385 L375 285 Z" class="digital-competency-platform_highlight__3aEo2"></path>
          <path d="M190 380 L145 295 L172 205 L372 282 Z" class="digital-competency-platform_highlight__3aEo2"></path>
          <path d="M175 200 L200 120 L280 85 L372 277 Z" class="digital-competency-platform_highlight__3aEo2"></path>
        </svg>
        <ul>
          <li (mouseover)="mouseOverWheal(0)" (mouseout)="mouseOutWheal(0)">
            <a href="/enterprise/artificial-intelligence">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2AWXYSrMgvZBxF6wWMs8st/2a04956873b868e76338aa63c72aa50b/icon-school-ai.svg"
                alt="" />
              <span>Artificial Intelligence →</span>
            </a>
          </li>
          <li (mouseover)="mouseOverWheal(1)" (mouseout)="mouseOutWheal(1)">
            <a href="/enterprise/autonomous-systems">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4SuqRUGohuAPYjATUXHi2c/8424ff7a5ffd93ce8786d37ddfce38ce/icon-school-autonomous-systems.svg"
                alt="">
              <span>Autonomous Systems →</span>
            </a>
          </li>
          <li (mouseover)="mouseOverWheal(2)" (mouseout)="mouseOutWheal(2)">
            <a href="/enterprise/business">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/52K9wuESZJBZlpI5XUc2LE/ea8c476f21a5ad788fcfb482acd1e4ba/icon-school-business.svg"
                alt=""><span>Business →</span>
            </a>
          </li>
          <li (mouseover)="mouseOverWheal(3)" (mouseout)="mouseOutWheal(3)">
            <a href="/enterprise/cloud-computing">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4oCJT1ZiDe0KwbdOO8JyXl/fb5c232473421f05a1b2042ad5bce37d/icon-cloud-computing.svg"
                alt=""><span>Cloud Computing →</span>
            </a>
          </li>
          <li (mouseover)="mouseOverWheal(4)" (mouseout)="mouseOutWheal(4)">
            <a href="/enterprise/cybersecurity">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3EiwLW1BGuzcK5YyQJW684/cc6512ed309e2294c937485ec666780e/icon-school-cybersecurity.svg"
                alt="">
              <span>Cybersecurity →</span>
            </a>
          </li>
          <li (mouseover)="mouseOverWheal(5)" (mouseout)="mouseOutWheal(5)">
            <a href="/enterprise/data-science">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/42OM26sN89bjThV8EIoNVc/ddd719e679fb05984fc1e47478c9924f/icon-school-data-science.svg"
                alt="">
              <span>Data Science →</span>
            </a>
          </li>
          <li (mouseover)="mouseOverWheal(6)" (mouseout)="mouseOutWheal(6)">
            <a href="/enterprise/executive-leadership">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/71TUI0A0YHye79T4uqHYRc/24a887180c08b45aa237681448662d55/icon-school-executive-leadership.svg"
                alt="">
              <span>Executive Leadership →</span>
            </a>
          </li>
          <li (mouseover)="mouseOverWheal(7)" (mouseout)="mouseOutWheal(7)">
            <a href="/enterprise/programming">
              <img
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7LP42FihbZvtMr3ZXAPEuW/0228c091c1e3eb7e897859dcd1eac9bb/icon-school-programmin-development.svg"
                alt="">
              <span>Programming &amp; Development →</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <app-outcomes-home></app-outcomes-home>
  </div>
</div>