/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "PolySans";
  src: local("PolySans"),
    url(./assets/fonts/PolySans-Neutral.woff) format("woff");
}
@font-face {
  font-family: "PolySansBW";
  src: local("PolySansBW"),
    url(./assets/fonts/PolySansBulkyWide.ttf) format("ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url(./assets/fonts/OpenSans-VariableFont.ttf);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
}

body {
  font-family: "OpenSans";
  color: #212529;
}

h1,
h2,
h3 {
  font-family: "PolySans";
  color: #212529;
}
h1 {
  line-height: 4.5rem;
  font-size: 3.875rem;
  font-weight: 400;
}
.wrapContainer {
  padding: 0px 12px 0px 22px;
}

@media (min-width: 48rem) {
  .wrapContainer {
    padding-left: 40px;
    padding-right: 26px;
  }
}

@media (min-width: 74rem) {
  .wrapContainer {
    padding-left: 0;
    padding-right: 0;
  }
}

.customContainer {
  max-width: 73.75rem;
  margin: 0 auto;
}
/*
@media (max-width: 1183px) {
}
*/
a{
  color: #017a9b;
  font-weight: 600;
  text-decoration: none;
}
